<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="container">
      <div class="header-article">
        <div class="d-flex justify-content-center my-4">
          <img
            class="img-fluid mt-2 imagen-author-article"
            src="<%= article.image %>"
            alt="imagen del Autor"
          />
          <h3 class="fullname-author-article p-4">
            <%= article.user.firstname %> <%= article.user.lastname %>
          </h3>
        </div>
        <h2 class="text-center"><%= article.title %></h2>
        <p id="parrafo"><%= article.content %></p>
        <!-- <p class="text-center my-3"><%= article.createdAt %></p> -->
      </div>

      <div class="mb-5">
        <% if (user) { %>
        <h3 id="h3-comment" class="mt-5">Add comment</h3>
        <form
          action="/articles/comments/<%= article.id %> "
          method="post"
          class="form-comment-article"
        >
          <textarea class="form-control mt-5" id="content-article" rows="3" name="content"></textarea>
          <button class="btn btn-primary btn-post-comment-article">Post</button>
        </form>
        <% } %>
        <div class="comment-container">
          <h3 class="comment-h3 mb-4">Comments ( <%= comments.length %> )</h3>
          <% for (const comment of comments) { %>
          <div class="my-4">
            <div class="comment-article-body">
              <h5 class="postComment mt-5"><%= comment.content %></h5>

              <p class="comment-by-article">
                <% if (!comment.user) { %> Comment by anonymous user <% } else{ %> Comment by
                <strong> <%= comment.user.firstname %> <%= comment.user.lastname %> </strong><% } %>
              </p>

              <div class="action-admin-comment">
                <% if (user && user.roleCode >= 400) { %>
                <div class="btn-action-comment-admin ms-auto">
                  <a class="btn btn-danger mb-3 btn-delete-admin-comment" href="/articles/comments/<%= comment.id %>">
                    Delete
                  </a>
                </div>
                <% } %>
                <div class="btn-action-comment-admin ms-auto">
                  <% if(user && user.roleCode >=300 ) { %>
                  <a class="btn btn-warning btn-modify-admin-comment mb-3" href="/admin/edit/comments/<%= comment.id %>">
                    Modify
                  </a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include ("partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/06adc08716.js" crossorigin="anonymous"></script>
  </body>
</html>
